
body.layout-column {
  md-content.layout-padding {
    overflow-y: hidden;
  }
}

md-input-container {
  &.md-default-theme {
    background-image: none;
  }
}

.gridList md-grid-list {
  margin: 8px;
}

.gridList .gray {
  background: #f5f5f5;
}

.gridList .green {
  background: #b9f6ca;
}

.gridList .yellow {
  background: #ffff8d;
}

.gridList .blue {
  background: #84ffff;
}

.gridList .purple {
  background: #b388ff;
}

.gridList .red {
  background: #ff8a80;
}

.gridList md-grid-tile {
  transition: all 400ms ease-out 50ms;
}