<md-list ng-if="!(videos() | isEmpty)">
  <md-list-item class="md-3-line" ng-repeat="item in videos() track by $index" ng-click="play(item)">
    <img ng-src="{{ item.thumbnail }}" class="md-avatar" alt="{{ item.title }}"/>

    <div class="md-list-item-text" layout="column">
      <h3>{{ item.title }}</h3>
      <h4>Likes: {{ item.likes }}</h4>
      <h4>Plays: {{ item.plays }}</h4>
      <h4>Added On: {{ item.creationDate | date }}</h4>
      <md-button ng-click="item.destroy()">
        Remove
      </md-button>
    </div>

  </md-list-item>
</md-list>

<no-video></no-video>
