<md-dialog aria-label="Add video from Vimeo or YouTube paste your URL"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add video from Vimeo or YouTube paste your URL</h2>
      </div>
    </md-toolbar>
    
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container>
          <label>Video URL</label>
          <input ng-model="video.url">
        </md-input-container>
      </div>
      <br><p>{{status}}</p>
      <md-dialog-actions layout="row">
        <md-button class="md-primary" ng-click="add()" ng-disabled="!(video.url | validateVideoUrl)">
          Add
        </md-button>
        <md-button ng-click="cancel()" style="margin-right:20px;">
          Cancel
        </md-button>
      </md-dialog-actions>
      
    </md-dialog-content>
        
  </form>
</md-dialog>