<div layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools md-tall">
      <h2 class="md-toolbar-tools">
        <span>VideoApp</span>
      </h2>
      <md-button ng-click="flush()" >
        Flush database
      </md-button>
      <span flex></span>
      <md-button ng-click="toggleView()" >
        {{ toggleButtonLabel() }}
      </md-button>
      <md-button ng-click="showAlert()">
        Add video!
      </md-button>
    </div>
  </md-toolbar>
  <md-content layout-padding>
    <app-video-list-items ng-if="showList()"></app-video-list-items>
    <app-video-tile-items ng-if="showTiles()"></app-video-tile-items>
  </md-content>
</div>