<md-dialog aria-label="{{item.title}}" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ item.title }}</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <iframe ng-src="{{ getIframeUrl() }}" height="320" width="480" frameborder="0" allowfullscreen></iframe>
    </md-dialog-content>
</md-dialog>